html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "funsized";
  src: url("../fonts/FunSized.ttf");
}

@font-face {
  font-family: "scretch";
  src: url("../fonts/scretch.ttf");
}

@font-face {
  font-family: "saucer";
  src: url("../fonts/SaucerBB.ttf");
}

@font-face {
  font-family: "drawing";
  src: url("../fonts/DrawingGuides.ttf");
}


/*General style*/

#body {
  /*background-image: url("../images/shutterstock_266491457.jpg");*/
  background-image: url("../images/shutterstock_611146274.jpg");
  padding: 10px;
}

a {
  color: black;
}

.choose-game {
  width: 400px;
  text-align: center;
  font-family: funsized;
  font-size: 45px;
  padding-top: 100px;
  margin-bottom: 50px;
  margin: 0 auto;
}

.down-arrow:after {
  content: '';
  display: block;
  /*position: absolute;*/
  left: 0;
  top: 100%;
  width: 0;
  height: 0;
  border-top: 30px solid;
  border-right: 100px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 100px solid transparent;
  margin: 10px auto 0 auto;
}

#train-brain-title {
  font-family: funsized;
  font-size: 90px;
  font-weight: lighter;
  margin: 7px auto;
  text-align: center;
  padding: 0px;
  width: 1000px;
}

#game-board {
  border-radius: 4px;
  padding: 0px 10px 10px 90px;
  width: 600px;
  height: 720px;
  margin: 10px auto 10px auto;
  text-align: center;
  background-color: #fff;
  background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
  -webkit-box-shadow: 9px 9px 9px rgba(0, 0, 0, .2), 0px 0px 18px rgba(0, 0, 0, .2);
  -moz-box-shadow: 9px 9px 9px rgba(0, 0, 0, .2), 0px 0px 18px rgba(0, 0, 0, .2);
  -ms-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 9px rgba(0, 0, 0, .2);
  -o-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 9px rgba(0, 0, 0, .2);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 9px rgba(0, 0, 0, .2);
}

#game-board {
  background-image: -webkit-radial-gradient(#e6e6e6 21%, transparent 21%), -webkit-radial-gradient(hsla(0, 0%, 0%, .25) 21%, transparent 26%), -webkit-linear-gradient(top, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0) 95%, hsla(180, 25%, 50%, .1) 95%, hsla(180, 25%, 50%, .1) 100%);
  background-image: -moz-radial-gradient(#e6e6e6 21%, transparent 21%), -moz-radial-gradient(#e6e6e6 10%, transparent 12%), -moz-linear-gradient(top, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0) 95%, hsla(180, 25%, 50%, .1) 95%, hsla(180, 25%, 50%, .1) 100%);
  background-image: radial-gradient(#e6e6e6 21%, transparent 21%), radial-gradient(#e6e6e6 10%, transparent 12%), linear-gradient(top, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0) 95%, hsla(180, 25%, 50%, .1) 95%, hsla(180, 25%, 50%, .1) 100%);
  background-position: 6px 6px, 6px 5px, 50% 18px;
  background-repeat: repeat-y, repeat-y, repeat;
  background-size: 48px 48px, 48px 48px, 24px 24px;
}

#game-board:after {
  border-left: 1px solid hsla(0, 75%, 50%, .2);
  border-left: 1px solid hsla(0, 0%, 0%, .25);
  border-right: 1px solid hsla(0, 0%, 0%, .25);
  height: 723px;
  ;
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -280px;
  top: 128px;
  width: 2px;
}

#info-game {
  margin-bottom: 10px;
}


/*Memorize numbers style*/

#memorize-title {
  font-family: drawing;
  font-size: 90px;
  font-weight: normal;
  margin: 7px auto;
  padding: 0px;
  text-align: center;
  width: 1000px;
}

#label-level, #label-attempts {
  font-family: scretch;
  font-size: 80px;
  vertical-align: top;
  text-align: center;
}

#label-attempts {
  margin-left: 50px;
  font-size: 55px;
  vertical-align: bottom;
}

#value-level, #value-attempts {
  font-family: funsized;
  font-size: 60px;
  vertical-align: bottom;
  text-align: center;
}

.cell {
  border-radius: 4px;
  box-sizing: border-box;
  height: 90px;
  margin: 5px;
  float: left;
  width: 90px;
  border-radius: 50%;
  border: 2px solid #36454F;
  font-family: funsized;
  font-size: 60px;
  padding-top: 12px;
  text-align: center;
  vertical-align: middle;
  visibility: hidden;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
  -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
  -ms-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
  -o-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
}

.countdown {
  position: absolute;
  left: 50%;
  top: 400px;
  font-family: funsized;
  font-size: 90px;
  visibility: hidden;
}

#play-memorize {
  width: 300px;
  padding: 8px;
  margin: 12px auto;
  border: 2px solid black;
  border-radius: 15px;
  font-family: drawing;
  font-size: 80px;
  vertical-align: bottom;
  text-align: center;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
  -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
  -ms-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
  -o-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
}

#memorize-numbers {
  width: 280px;
  text-align: center;
  display: inline-block;
  font-family: drawing;
  font-size: 60px;
  margin-top: 40px;
}

.tachon {
  background-image: url("../images/tachon.jpg");
  background-position: center;
  color: transparent;
  border-color: transparent;
}

.error {
  color: red;
  border-color: red;
}


/*Mental maths styyle*/

#maths-title {
  font-family: saucer;
  font-size: 90px;
  font-weight: normal;
  margin: 7px auto;
  padding: 0px;
  text-align: center;
  width: 1000px;
}

#input-result {
  width: 470px;
  height: 60px;
  margin-left: 5px;
  border: 2px solid #36454F;
  text-align: center;
  vertical-align: middle;
  margin: 60px auto 5px auto;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
  -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
  -ms-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
  -o-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
}

#number-keys {
  width: 480px;
  margin: 0 auto;
}

.cell-number {
  /*border-radius: 4px;
  border-radius: 50%;*/
  box-sizing: border-box;
  height: 70px;
  margin: 5px;
  float: left;
  width: 70px;
  border: 2px solid #36454F;
  font-family: funsized;
  font-size: 50px;
  padding-top: 8px;
  text-align: center;
  vertical-align: middle;
  /*visibility: hidden;*/
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
  -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
  -ms-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
  -o-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
}

#arrow-div {
  text-align: center;
  margin: 0 auto;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#arrow {
  position: absolute;
  left: 50%;
  margin-left: -260px;
  top: 290px;
  animation: blink 1.2s infinite 200ms;
}

#active-operation {
  display: inline-block;
  width: 300px;
  height: 85px;
  border: 2px solid #36454F;
  text-align: center;
  margin: 70px auto 0 auto;
  /*vertical-align: middle;*/
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
  -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
  -ms-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
  -o-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
}

#active-value1, #active-value2 {
  font-family: funsized;
  font-size: 60px;
  vertical-align: middle;
  position: relative;
  line-height: 85px;
}

#active-operator {
  color: black;
  font-size: 70px;
  vertical-align: middle;
  position: relative;
  font-family: Helvetica;
}

#queue1-operation {
  width: 200px;
  height: 60px;
  margin: 15px auto 0 auto;
  border: 2px solid #36454F;
  text-align: center;
  vertical-align: middle;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
  -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
  -ms-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
  -o-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
}

#queue1-operator {
  color: black;
  font-size: 60px;
  font-family: Helvetica;
  vertical-align: middle;
}

#queue1-value {
  vertical-align: middle;
  color: black;
  font-size: 50px;
  font-family: funsized;
}

#queue2-operation {
  width: 200px;
  height: 60px;
  margin: 0 auto;
  border: 2px solid #36454F;
  text-align: center;
  margin: 15px auto 0 auto;
  vertical-align: middle;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
  -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
  -ms-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
  -o-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
}

#queue2-operator {
  color: black;
  font-size: 60px;
  font-family: Helvetica;
  vertical-align: middle;
}

#queue2-value {
  vertical-align: middle;
  color: black;
  font-size: 50px;
  font-family: funsized;
}

#play-maths {
  width: 300px;
  padding: 8px;
  margin: 12px auto;
  border: 2px solid black;
  border-radius: 15px;
  font-family: saucer;
  font-size: 80px;
  vertical-align: bottom;
  text-align: center;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
  -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
  -ms-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
  -o-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0, 0, 0, .2);
}

#mental-maths {
  width: 280px;
  text-align: center;
  display: inline-block;
  font-family: saucer;
  font-size: 60px;
  margin-top: 40px;
}

.game-over {
  position: absolute;
  left: 31%;
  top: 400px;
  font-family: funsized;
  font-size: 80px;
  visibility: hidden;
}

.active {
  visibility: visible;
}
